{
	"data": "ENC[AES256_GCM,data:QFSQ+IA5uavpB24ZUqt4dJKfSkLa1GJq8nV8qwU6yMYKY/8AhsO5kJ6CfYIvYLSHU9amUM902p+NC9eScXQFvp5kX7jSStDP3SQyG0iB+j/hMjI0kgK1lQ9erB7jdnniMkxTtXD3eRXaGjZUeu/EruSj6I0HEOLwWXfzOln/QWb2wASjLl5LZRIbOCi+in/yqUyKfB3AgIEsn4025mwJgAzmCStDVBZ4dOLwtqV9RtvU+MOLgVYMIY3hMYj/DLqcGG56HjmFnijow1mcKrmlAmHZ+I4lSPycIXmlFn+pBkNCXSHHSTz01BP7WkfB266M96yiWEviz7pJMFe3koaNbZyQNdb10d3gwU2slAupnEgrcsLBE+TGxnk7L/tzzGEUMuXSt2d9TE//0enePl0DHUD6//JPDid1lXvdki+o9FsHY7NS88hxMGxqdRv9jNiJJVQtstyEhtrmTkcjLHMLT7AXCP4lCA2UJrmKTeTc99Q418SxIu82HI5mOx/u+3uelA7J+MMGE7+rTFZm4KB5TN+pE0r9sMvUBxyuCQi2ft/4kMUUMfPJY+hD97wMWwfrDeWAWqsTvvmzlgPyEF/qRaVaNEzw3YG/+J0L5wm3xokr3oGrZtQy0nw/2aDn2ntENvBow0ixxEMCkiWvTI2nj4B/HHrOZTUiMxcn8w94NdspG7NefrHVyWAP4/H6w473ON4kAaLg5w==,iv:Kvs1p/xhO9VMSQJOJaFQ+l7nqcze6xI156Zgms66rB4=,tag:ccOsSfmWZe3ns+EFs7mMwQ==,type:str]",
	"sops": {
		"age": [
			{
				"recipient": "age14r4f8cpf7qslkdwu2v4lus5xfdzdy4dwql8xvxxkxhs230rdac3sjgexdz",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBRR1ZlOFB0YnArWDc5cmpO\nVzRRQVU4TWs0NEtLbWpGOEhZRHdOcVVpU21RCjI2QS9QN3FnVEd6TVRoSDBvTEdJ\nbEVXb0orOEVEUVA3T2w4RTlFSjFlc2cKLS0tIGVWcXRtWFRPdElDN3B0MlorbitD\naVFYeE5xUWxyRkNoZG5lVXlyMTJHTW8KfK2z5gmRPlTFVDISJR23cEhLweaXZ3XU\np0HERgpa/kWtx80Sd/MgOiLH1LSlYxrBkySmFj6ie93cqI6aXPGuIw==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2025-07-21T02:51:28Z",
		"mac": "ENC[AES256_GCM,data:TMhtK2/4LatWZnySzkUFhDhSNSdIGoUrcM5qEHFWJY9K3QGjRtmTa+hMwe4HVG1/nTvj1zafLE2TMY7/uxE45ymF2ytRMeDz3c0dOus1dfyCYLn3qx/xR4l8vNUL8yCZxaemM9qU3Oc89YFyE5LFZBVkm/7y5K2p4Y7Sw0RlN9w=,iv:YIIXclErfubLczXkXHw14O9JijcJg4UbX+1/0sXoyrk=,tag:SUMSzxsb7GPPeZV+MW9q7Q==,type:str]",
		"unencrypted_suffix": "_unencrypted",
		"version": "3.10.2"
	}
}
