{
	"data": "ENC[AES256_GCM,data:8zUSW1HWNYUdUqeWHnUQr5FHRoRh2uz4ydnHXvAoZfqMCyK69WDhE+1e4aLoiPsQoWtxiPgdwNH520JsEzTQBtAMEuo2a7dG/RgilD/LwMitNkMywOKNELOvmwTe+bOg3Ku6uHTAV7Cwqhl9aQn0WKv6+pr4NgxkDzi+KMrZzjPx3QPxpGMTyTUsfjPPvVHj2QdCLLLseOnwqFUbN7T59mPyHZp36cBuEL7/EeQUvhnETAwiajQZHp8gT+XfQTVUxZhsJEpmoFvhNj8QkzCDA5hiqNLg5XCbva1pbhDDWk2EOyMPVnPi31iD2PXbDllRa1iStLuJo6G5n5AH/Gi2VR6uwni9jNl9RUqPgRJdlKVtyj6s6guMiojkvhjpnYlsNt7JU1dp/c888Ei1Wie/BfKQ+CRFkCqCOnXhpocCFzu2BBBZjAOnDs8Qt5+0Ov7UMlM9Xse6/inncqQ4iF6P7OPV/Kgv5rlHsHBsJXNrPXe1+p2M1zZ0uBGXL06TxKbmVHRhOBi5J8GAO9FHLT1qBOA+Yx5ODXZpL45spDXdhueCPriZo3BO/IVXWWg0OjU4AhJEhMM83WlNVc4zf3sK4ToGQRoTbSEBRebWZ1An0ldTiG4olG4djMc4IqMAdc0=,iv:AtC10nNm5h2DlsqqXyb+jjMUkk6Rs049zJjiopZu5RQ=,tag:M0rpmu+CzdUeytDB62m0rQ==,type:str]",
	"sops": {
		"age": [
			{
				"recipient": "age14r4f8cpf7qslkdwu2v4lus5xfdzdy4dwql8xvxxkxhs230rdac3sjgexdz",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBRR1ZlOFB0YnArWDc5cmpO\nVzRRQVU4TWs0NEtLbWpGOEhZRHdOcVVpU21RCjI2QS9QN3FnVEd6TVRoSDBvTEdJ\nbEVXb0orOEVEUVA3T2w4RTlFSjFlc2cKLS0tIGVWcXRtWFRPdElDN3B0MlorbitD\naVFYeE5xUWxyRkNoZG5lVXlyMTJHTW8KfK2z5gmRPlTFVDISJR23cEhLweaXZ3XU\np0HERgpa/kWtx80Sd/MgOiLH1LSlYxrBkySmFj6ie93cqI6aXPGuIw==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2025-07-17T05:48:04Z",
		"mac": "ENC[AES256_GCM,data:5+5fM3DaYkxDnprEU+3vdTweWmW12MMNbjFYXk11+Mik1jWtipCD75Yu8XWdbWoL2/A1V/YcGAqnDJjJH+VwBgyenViLS43mOrqO4no6MKXgNArp4n1vw9jUobPQBaQITsvk9VywLuKXQVCpRp1izhAbMV6BCqOkgaQWblcrlh0=,iv:kgmuSdwrOeLyR7lTA6sKg6yJ7Pr7QPuQ716u/Nnk1Uc=,tag:5nxUU1jcBx87hZkcGGOTkw==,type:str]",
		"unencrypted_suffix": "_unencrypted",
		"version": "3.10.2"
	}
}
