{
	"data": "ENC[AES256_GCM,data:5XG2jpxnEm1LuRa9z/yAjiW1P4BR9WcW3qun9AS8BPNlkwV6+LHf7olWC2S7EYyxmFrlaELyyY8aP4xkzn4tqoKu8klgsvrQs60UcN8KarA0+xPUcCLNnM2zNElIOVnDHO6pQsFayfxVB6p9/Jr0PGpQGbNgTlPaiQr45z8M4WFpIaRHYhQM5Z1gtQPxovZVY8Vqxr7bB/n4cZggg/2qNwwDlg7kRXzI9ZF0szsDuxk7jIQKg7OA9FEAXwdxPuxlolzs+xNk2kZ43wHtZ7jAni64k+Gl9NaViiDPlLtyBPyXzYOJ+XrqtIzjeUAkpVJktl2YpbatlU5zbpL6UNkaa94OmrWPyfVa5YJtFJIgfmRbyRimrtJiK5fwXvvF0di8b+q9yUbhQhBy/rLEdc3b1MZxKk1ABk+Kh4E/8jZQquCkb6QiLte7jlEJB2BGZjfYVUCwkujy0kKc61AIHurEmoGk9PDvF/Y=,iv:3Lzb5tFvPlImiXRp6g0Yu3pJFtBbtftZQdtcD1LdNGc=,tag:98OTPkW7u7rcvUkTSjfydA==,type:str]",
	"sops": {
		"age": [
			{
				"recipient": "age14r4f8cpf7qslkdwu2v4lus5xfdzdy4dwql8xvxxkxhs230rdac3sjgexdz",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBmR2lCWnFCRDhud0VzbWh0\nT21lbFZ0ZjFCUEJERFYvbHRNWUk0YlJ5am00CjJMNThVQkhuaGVuR0VGY0pacWQ2\nN28rK1MvMzhjRGlCcFNGYk83OW03d0UKLS0tIEl0cjJ0Q1ByNi9NSDdIM1pIR0JY\nSVdWTjhhYXRxZzNLZGcrY1g2Q3pua3cKYAMes81cY6laVyCgWlvP8Yrnc9qzic4R\nZ4jaJ0QHj1CU/q0yi9bfwjfp+MY9sHhtpIIVZCGvLdEqipSM/fM9JQ==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2025-07-14T06:10:18Z",
		"mac": "ENC[AES256_GCM,data:uiRdN6bFCEJ45y+O/7QMRRy+LBYLcuZl4Vf4UdqizeFoDSNj/GbhOQFYZADFpzMoLmiHKbREQXLTV0UTVkA1CdZWxTAHC615oXKxqMkkppzjhHnoi1M9afk4s8OiTHyNu6Mkqw8dE35vAUqKdwZ4uMaY/7PHfB1FF+XDf5d0iOw=,iv:oBn3mfHf2QSsS4xmIYIu5TSLnHJYNvukLifgkG0Gjas=,tag:UB2H3FvG+IjNlivD0yDDaA==,type:str]",
		"unencrypted_suffix": "_unencrypted",
		"version": "3.10.2"
	}
}
