{
	"data": "ENC[AES256_GCM,data:WyAxxiERLjYzZWhqHj0M+98b6Xwe73M2FQpSxILw9Q/Q1ps4VtMbKWGh5oZhlSaShBRWhCXOxo+CFTvqg6JXUz51jPRzIogRwKxwlBuh5JUHuhjWv96Sb49HCTJPhYiPZBAvsryCR2bZiEnVVXpuKt75waAW1+aqiqedPEtlADekFdFN/Hk/k33EC9s8oo40XoZTD04c8nATy8x+xfiHwe5XBaa85muRIIVAcWr8NbM3tKvP4gLNWPt1HCx7H7SP7U839+M6/EFX03d0kBVs1OHqXuj6Z4/akSRZkYztftlttuDTM5e49NsB0q8GvoNuTYf8j9RqoRC+5wxExBH6I4FI9x91KvZiMbvvq3d/kSWjh1mztyd4mSGP1fJMlOFvakSiPm41UTBiNgfxQpsEaCLIXSN5pAdEeRHQJpPJX3zMspT++ey8SDLDKxb3C061LKoycD+3j44vEaTalgTlYY5RpZRm27DQZYZapb24l5MkpQBQEg==,iv:HcUFlZiwnbomfVJIiGv7Mt1WSMKp+vO62kfTlUxHAMM=,tag:Kq+LCuiQ5N2gZtBmj6K+PA==,type:str]",
	"sops": {
		"age": [
			{
				"recipient": "age14r4f8cpf7qslkdwu2v4lus5xfdzdy4dwql8xvxxkxhs230rdac3sjgexdz",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBJbjNkd0d2OXpmaU9LSEhK\neFJ4VmZCWEMyRjRIYkRKSVBjN25kV3FQbENzCjlnMG8ydFB6cndJOVcrODJRQmhM\nSGNBUEdWa2FVY1VXdDJJUTlUbkErRTQKLS0tIEJtc1c0UkVvOVZwN2RPSG5HRUNw\neW5YRjBqMzU2QTFuNENIK25EZ2ZrZk0K87g3EtzigRwMIY8DyeEAjQcT9dgic0GH\nY7ohXyqjmuN3Yn5Ht/zmUp8psjhHb7nzNMH/nJE5GBtYE7fd+lyN8g==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2026-06-04T14:27:24Z",
		"mac": "ENC[AES256_GCM,data:YqCpLlmaHOfPfJvKPHvkC2miLZxIx7IW5Nnq1Yk1aashJZDvDPKvWdn3IOZki3nC0pljOFbTNXjELsrFeap+LVcCf5pZO2nyCGLGMde9Pt810xgj2zX6GBrEjlcQnlXTtlV8OZTXE0FLwN4tQ0CLujfwvjvaj7u/E6OUQyKSyic=,iv:2QBm1TwBM/gQla4Os1H0K2pTvROR7t5QT6rTLyubX0k=,tag:d684OoqhygzdWVRQ5zCAjw==,type:str]",
		"version": "3.11.0"
	}
}
