{
	"data": "ENC[AES256_GCM,data:pSToJhOYhaThuWSCiGR3FMKaptB9Q7IgMlgE+ONl4vCO/SnJdTPPN12nd6mAeC5BfxKGVglW46k1r5CcxFysMOraeghPyDIDeVv5ddVUyaV0rXTdBAi6ingsn4hTrq5Q/OpHAszUrM5xEkzFnXVIlSGOAvJefZtt/aYajBmfK/AYuKlN0YPI7+oU17CPtUALxyiiufjKN0ZdDT4Rw6t5E8Uiuehvn55rjUa3vWzlUsO9X2QwrbJflPqD3HuSN7OBkin8ArAFbU2IUoVQw/fdPU6hQQ2WcLTI1T3BUPCAn6nt9s0W/iY2YYVY4nVUYotC0Bii0ZfDalqQv1qezBkAJB4f5ZD1TEOvT7mHdi7kt1Up6mY6Dj3DCALpBKxbrx6NfpVjqSjcme3MGLQQNwnxrAuSlnRwOTV2xEoIO3jrof7s4xcSDpwaxGd29jo49znX0FABOKVsV2y5x9Ar8EZ7PE2oJ96na5oAIdDj,iv:m3gpxflK25VRkdyceicwHX75XpyKM0iEvNxIG4f0xys=,tag:3j1rE+FRyxFwG8Rl15K6CA==,type:str]",
	"sops": {
		"age": [
			{
				"recipient": "age14r4f8cpf7qslkdwu2v4lus5xfdzdy4dwql8xvxxkxhs230rdac3sjgexdz",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBmR2lCWnFCRDhud0VzbWh0\nT21lbFZ0ZjFCUEJERFYvbHRNWUk0YlJ5am00CjJMNThVQkhuaGVuR0VGY0pacWQ2\nN28rK1MvMzhjRGlCcFNGYk83OW03d0UKLS0tIEl0cjJ0Q1ByNi9NSDdIM1pIR0JY\nSVdWTjhhYXRxZzNLZGcrY1g2Q3pua3cKYAMes81cY6laVyCgWlvP8Yrnc9qzic4R\nZ4jaJ0QHj1CU/q0yi9bfwjfp+MY9sHhtpIIVZCGvLdEqipSM/fM9JQ==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2025-05-16T11:02:31Z",
		"mac": "ENC[AES256_GCM,data:xYvfuXCV06j29ZcZJ/tq1xqyc+/DdYKt22vKBRn12H9NvIBOoNFXhOsFb3fhr6B9+PvFsAH7RC3qkeLQEopmdh4ukDzYmg4YOkdHVz5i101X0x1xQ+28Mc33sUpXoH1ET3KAW7c4mtdtphzmWrqH1SmNwTQyd782ZjDh4UOhp1Q=,iv:T8ZDk3ja579zhxKsLkxFA0jzwGlXSaj/WacqurKAkQU=,tag:Ge/GraeRPWGy1H5k6rXHoQ==,type:str]",
		"unencrypted_suffix": "_unencrypted",
		"version": "3.10.2"
	}
}
