{
	"data": "ENC[AES256_GCM,data:kBZNS01O/ivdQQNFMW1nBmRF08AdaDlBsYw2y76wdgIxWx0VkJScSBGEaJe1rdEfBFhkyU6TL7RWAAY0EMVbtK6agpHYBzbkwSblsMOv3vU6WLKHFlJcuke17iMWnOV7MXFovsltSPafE03y0f0HDANTd3nrNWDiWaHcmF8Il1UwQdGMDaLzNV2CE2+oSDSHU3Qsd3eDX05HqA01Y6xwvxCbFQ1uRpGte2mj4tyCnqTnVMZENbBBq+1ACgTPBvBvPpt/VEHVj/IsQisaDVAFV2D3+JaJaePAp/+5WC9f9vBIgkudEshpJS6VC0k7Cx6Tk45kVHlM3MKQHFKX74Sa/2H282QKBuxO2BamtUgwOmvuAK5dFX6j1L1x3HOJOiehFqh0J/zNEGdvwMeIQ74IZd31ODMMSZKll3yCMW+f3PFtYRHEvo6RCuITL96MNY15NNqZ08ug9b/AqZaVFxI9A5NvxayEZ+xoawP/lhKwq1QcZj0VJ9XRBszNUeKVgItDjgmMyy3TDc7v9D7qUUm139WlgnZzrkO2lcWavatpjeG70D42mktOF5lWUkjDuTqljMehOlG+r+EbhBKzXdwH2gWVm+7TNLy20anqydoEMyPwJgg1puQYqW7aZbzVIwtnXJNZFg/e9W423bz9NizopaAr/tnIM1eeq7CDFdU3X8U5yCs4kHoCtfzdvhJLXATv9Thrl0RXOx1cDWM=,iv:AGM2hjR8xhhrMlH7qx6MzL6idNSZydv+Ypne+TefHtQ=,tag:sin7VUBi7lAE36ce3rzzgw==,type:str]",
	"sops": {
		"age": [
			{
				"recipient": "age14r4f8cpf7qslkdwu2v4lus5xfdzdy4dwql8xvxxkxhs230rdac3sjgexdz",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBRR1ZlOFB0YnArWDc5cmpO\nVzRRQVU4TWs0NEtLbWpGOEhZRHdOcVVpU21RCjI2QS9QN3FnVEd6TVRoSDBvTEdJ\nbEVXb0orOEVEUVA3T2w4RTlFSjFlc2cKLS0tIGVWcXRtWFRPdElDN3B0MlorbitD\naVFYeE5xUWxyRkNoZG5lVXlyMTJHTW8KfK2z5gmRPlTFVDISJR23cEhLweaXZ3XU\np0HERgpa/kWtx80Sd/MgOiLH1LSlYxrBkySmFj6ie93cqI6aXPGuIw==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2025-06-01T07:35:21Z",
		"mac": "ENC[AES256_GCM,data:VByzuAUerFoUEG5yzh736rqPsk0GquXY8jGAKAEIkojSmePtCxVCI/l9WZRaM3Qgcn0xQxvpi7GuFSYfLARwm74r+jDXYanXF0To569iFbgGAEPAAThv7brodmlHtoGunhbOQzOEDj5aDeC0ZPg06sI3TAZkcyeOzTW5S2bVpTE=,iv:5A7aXAqh5EhEZUGqikzvFvXCqoSJaIrnQFmh/1QRRts=,tag:kSha9AFVbCvWdEZDVewy8g==,type:str]",
		"unencrypted_suffix": "_unencrypted",
		"version": "3.10.2"
	}
}
