{
	"data": "ENC[AES256_GCM,data:KIDvQNNqAzOUnknyXZ1oapfyM3fu8fBPb7SUNDPTDWGZtU9OULqoztXyK0jJitJxLtNzcIpwFvNFIRICfS8QS6EZevh3I3+yFC6Xf8PbfqTcQvVVL86c2s4IDMM8/DR19x1CR1kg9Y8IyWUy2dfBmWgR3Il5ECa4NWt93iOMNeSGW76zaSBBnSvieqs9O/q3b/gvnpfVN/9P59PTs5giaODQFMnAbNiCNOEl0AVphbKrHlQKDs2KZv84BvQBqN4kuxPXdKwu0DvGAi92vvOVlteh3yR5wkp8N2XtF+kv5isRpnOYDh0Gyn2DSmraqhL9GedJUCHgqaGTmp4AT9MeyI8MDw8yAT0=,iv:gUAf8/EXNr5N2umfyEZWGWm7c1vTcuMb7VCu3pRq+CI=,tag:P7zAVsguAz/2ZwZSqROscA==,type:str]",
	"sops": {
		"age": [
			{
				"recipient": "age14r4f8cpf7qslkdwu2v4lus5xfdzdy4dwql8xvxxkxhs230rdac3sjgexdz",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBRR1ZlOFB0YnArWDc5cmpO\nVzRRQVU4TWs0NEtLbWpGOEhZRHdOcVVpU21RCjI2QS9QN3FnVEd6TVRoSDBvTEdJ\nbEVXb0orOEVEUVA3T2w4RTlFSjFlc2cKLS0tIGVWcXRtWFRPdElDN3B0MlorbitD\naVFYeE5xUWxyRkNoZG5lVXlyMTJHTW8KfK2z5gmRPlTFVDISJR23cEhLweaXZ3XU\np0HERgpa/kWtx80Sd/MgOiLH1LSlYxrBkySmFj6ie93cqI6aXPGuIw==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2025-05-16T09:27:51Z",
		"mac": "ENC[AES256_GCM,data:ETaMjioMQHXdn12unJgXVZimKqe0laaSIoTVDf3q07v4xHVlTC2xJDBcP/XeBoLBwllO5NJlTsuuqzVkNoCy4WTRwM2OiIFJFtSnFOHvv4rovme8a+9D4gHJSqsGfl+vBvpRa66StYYbBlojCU9u+njn4P3c4iqnRfjBx2dvMso=,iv:C8TKjHHH2aFuZxZ2lT6DDLXgJHzNxke8o/G/G2+Oug4=,tag:XTFUvUdkrTxrQ+be4OlNsQ==,type:str]",
		"unencrypted_suffix": "_unencrypted",
		"version": "3.10.2"
	}
}
