{
	"data": "ENC[AES256_GCM,data:3tABS5NsAP5DI0mF72bmbT8OJh+1qERwrkv5lzyIkz0kitxOzHA15QcCC7YScjfb7H+4rf2rZpVJJsa0Prl01PqBERMIB7+PfCLRgzMIq+FJEBVn7lIs9w00s+mrYnw6+f6QuGZIxSzxC4hc2sFOmaUmZoIChcees64pFC+mVjTBmJFeGbRtBh3odiJn/wAjFrakOu8M8X+FNj9C4Olmpn9DPRIOVfE5cOhLspf+LGqYSzOmHCkAEKPgEpVoV6o0ILDtHI3wQoaXYhIHBinJbVX/A21YdYKCzwW5qTAabO8HYKw54r69fAoBWc3znWM9OAGksrT0zMzHNBd0kGwvli4nSl8KYDXv1VtxYA/kbQUOse4Aa+WsrskgN17y1TPUVX/Dv6K1OwchKfj3fperwkCwClnQYajgwp+Wj1NN15QGDBVtk9VQ1XU+lGBdWTmWCENzu7BF6uW059b8cFhgaln9U4lrENFEgiiP6dsKNfukQlB+To6SYB90W64sthhLZKAzEgvVdFQNPA2umD33zsKqmf0ue4kqh2Ia1qQivD2EfF5Jb9skZMPOqDPR2hiXJcomSooYFwS5J523zFFF2dfttMFXffBBeAzHgBEJTiroNeml5ilSO2tjSZTOFcQV50uk/W+xmB56Xym6JpmC8tz8NcNPIuHZOlLzVBlhWEgguDr3NF4k/pkyR5kbzX9e+4rOMeuMlStjwTn4usTS+CvEphLa4J2NxJB6V0B6bzEF0n2Xm86jth2YIhw/O3n37yLTcywHv8NNIaR3zi7JuI3kPMQfKQ==,iv:H6s6QDhMu+vPRY2vNFVhdgk787Z8gplSIUiGDJ2RsdI=,tag:az1gm6fNp0cHMCHZOoH02A==,type:str]",
	"sops": {
		"age": [
			{
				"recipient": "age14r4f8cpf7qslkdwu2v4lus5xfdzdy4dwql8xvxxkxhs230rdac3sjgexdz",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBRR1ZlOFB0YnArWDc5cmpO\nVzRRQVU4TWs0NEtLbWpGOEhZRHdOcVVpU21RCjI2QS9QN3FnVEd6TVRoSDBvTEdJ\nbEVXb0orOEVEUVA3T2w4RTlFSjFlc2cKLS0tIGVWcXRtWFRPdElDN3B0MlorbitD\naVFYeE5xUWxyRkNoZG5lVXlyMTJHTW8KfK2z5gmRPlTFVDISJR23cEhLweaXZ3XU\np0HERgpa/kWtx80Sd/MgOiLH1LSlYxrBkySmFj6ie93cqI6aXPGuIw==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2025-06-09T15:31:31Z",
		"mac": "ENC[AES256_GCM,data:eREbs7I39VHu2DoFzEL4xogOmoYlZpXdKPbjR7IOjNrKIpbMIJCPg8E/C+1YG+JjsIA9ROxhVUAWQaPVrXDwlgFnTeIHsJqKw2GnLkpvg8eSVw7c2IZ3Zp8/rW8laxZtSKh6WyRaXCKqsQbGWQicm/DPp3bOF/LjUiYuEWBFnDs=,iv:/J3+KO+nPSVKPpl6+cGhO7+xwXWA+0C0MTgmG7a/pGM=,tag:VeAs0GT7PH5WcgHS84t56Q==,type:str]",
		"unencrypted_suffix": "_unencrypted",
		"version": "3.10.2"
	}
}
