{
	"data": "ENC[AES256_GCM,data:7f8FS8FEQJRp/J5+LJm0HY27ah7hr1ToV6AKAVOdOGpI7rZVd0XMRW7P1wDPLiZquxCICLSOcIVirgC2LwkCcqT8QdkDj/iJgz6oqqA805MnKjiv/eclu5s7ZVc57K+Lrl7RhBQ7lBf35i4RpPflfyKMNdh+y2BFBEfQH/09NA1Xnpr4QAIGeCtJKMeVWgxlCSh4l0I8a/d9jsDya5YoBTfkY6SjmmBbOvvUysrnhReQAnhfxoYBNUxcnritrIQS9ngO4uqOjLotxEWNkOsQyfF4Yg7CyZtqjy77HEyJyhO/rMSS1g==,iv:oBWrcqyV7obIfFAXCPO/O080Kdn4yp7A+6svaziahSE=,tag:FZJyWWJgQ9ykWvy+x1mJCw==,type:str]",
	"sops": {
		"age": [
			{
				"recipient": "age14r4f8cpf7qslkdwu2v4lus5xfdzdy4dwql8xvxxkxhs230rdac3sjgexdz",
				"enc": "-----BEGIN AGE ENCRYPTED FILE-----\nYWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBRR1ZlOFB0YnArWDc5cmpO\nVzRRQVU4TWs0NEtLbWpGOEhZRHdOcVVpU21RCjI2QS9QN3FnVEd6TVRoSDBvTEdJ\nbEVXb0orOEVEUVA3T2w4RTlFSjFlc2cKLS0tIGVWcXRtWFRPdElDN3B0MlorbitD\naVFYeE5xUWxyRkNoZG5lVXlyMTJHTW8KfK2z5gmRPlTFVDISJR23cEhLweaXZ3XU\np0HERgpa/kWtx80Sd/MgOiLH1LSlYxrBkySmFj6ie93cqI6aXPGuIw==\n-----END AGE ENCRYPTED FILE-----\n"
			}
		],
		"lastmodified": "2025-05-15T07:17:15Z",
		"mac": "ENC[AES256_GCM,data:sPZjnw2GqTBbxk/CP4tS/ZhMCJJvBlVnNkI8qqtLvviUqpZ9AgtfBW4Pzd3uGqJzAFwEr/0g19PPqMYTYi/S5c5ElfEN7rGVZTZAoUg1cervDfukciFAQT41FBHC7n+ckYOG0nzfiXrqXLoY3FU6UfgVU3KudawFbbT2jTrgzwk=,iv:SYpEzJJqf0C9K3LSb4VL/BiiwxjU0WiHU12qSqg+pD4=,tag:3xO/5Hxhg4nede5e69NBnw==,type:str]",
		"unencrypted_suffix": "_unencrypted",
		"version": "3.10.2"
	}
}
